@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'footer';

@font-face {
  font-family: 'WolfInTheCity';
  src: url('../fonts/Wolf in the City.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  color: #fff;
  list-style: none;
  overflow-x: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 640px) {
    width: 80%;
  }
}
